<!-- <ul class="nav nav-pills">
    <li class="nav-item" (click)="selectSkill('javascript')">
        <a href="javascript:;"
        [ngClass]="{
            active : selectedSkillSet.toLowerCase().includes('javascript')
        }"
        class="nav-link active">Javascript</a>
    </li>
    
    <li class="nav-item" (click)="selectSkill('angular')">
        <a href="javascript:;" 
        [ngClass]="{
            active : selectedSkillSet.toLowerCase().includes('angular')
        }"
        class="nav-link">Angular</a>
    </li>

    <li class="nav-item" (click)="selectSkill('node')">
        <a href="javascript:;" 
        [ngClass]="{
            active : selectedSkillSet.toLowerCase().includes('node')
        }"
        class="nav-link">Node</a>
    </li>
</ul>
<hr> -->
<!-- <div class="tabs-body"> -->
     <!-- <div class="card" *ngIf="selectedSkillSet === 'Javascript' "> -->
         <!-- <div class="card" 
        *ngIf="selectedSkillSet.toLowerCase().includes('javascript')">
        
        <div class="card-body">
            <strong>Javascript</strong>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt eaque aliquam minima porro sapiente itaque,
            et dolorem quis illo adipisci pariatur quam, aperiam fugit a ea, laboriosam suscipit accusamus esse.
        </div>
    </div>
    <div class="card" 
    *ngIf="selectedSkillSet.toLowerCase().includes('angular')">
        
    <div class="card-body">
            <strong>Angular</strong>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt eaque aliquam minima porro sapiente itaque,
            et dolorem quis illo adipisci pariatur quam, aperiam fugit a ea, laboriosam suscipit accusamus esse.
        </div>
    </div>

    <div class="card" 
    *ngIf="selectedSkillSet.toLowerCase().includes('node')">
        
       <div class="card-body">
            <strong>Node</strong>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt eaque aliquam minima porro sapiente itaque,
            et dolorem quis illo adipisci pariatur quam, aperiam fugit a ea, laboriosam suscipit accusamus esse.
        </div>
    </div>
</div> 

 <ul class="nav nav-pills">
    <li class="nav-item"
    *ngFor="let skill of skillsArr"
    (click)="selectSkill(skill.skillName)">
        <a href="javascript:;" 
        [ngClass]="{
            active : selectedSkillSet.toLowerCase().includes(skill.skillName)
        }"
        class="nav-link text-capitalize">
            {{skill.skillName}}
        </a>
    </li>
</ul> 

 <ul class="nav nav-pills">
    <li class="nav-item"
    *ngFor="let skill of skillsArr"
    (click)="selectedSkillSet = skill.skillName">
        <a href="javascript:;" 
        [ngClass]="{
            active : selectedSkillSet.toLowerCase().includes(skill.skillName)
        }"
        class="nav-link text-capitalize">
            {{skill.skillName}}
        </a>
    </li>
</ul> 


<div class="tabs-body">
    <ng-container *ngFor="let skill of skillsArr">
      <div class="card"
            *ngIf="selectedSkillSet.toLowerCase().includes(skill.skillName)">
        <div class="card-body" [innerHTML]="skill.content">
        </div>
      </div>
    </ng-container>
</div>
  -->
<!-- <div>
    <p *ngIf="numsValue === 5">
        The value is 5
    </p>
    <p *ngIf="numsValue === 10">
        The value is 10
    </p>
    <p *ngIf="numsValue === 15">
        The value is 15
    </p>
    <p *ngIf="![5,10,15].includes(numsValue)">
        The value is anything apart from 5,10 and 15
    </p>
</div> -->

<div [ngSwitch]="numsValue">
    <p *ngSwitchCase="5">
        The value is 5
    </p>
    <p *ngSwitchCase="10">
        The value is 10
    </p>
    <p *ngSwitchCase="15">
        The value is 15
    </p>
    <p *ngSwitchDefault="">
        The value is anything apart from 5,10 and 15
    </p>
</div>

<ul class="nav nav-pills">
    <li class="nav-item" 
    (click)="selectedSkillSet = skill.skillName"
    *ngFor="let skill of skillsArr">
        <a href="javascript:;" 
        [ngClass]="{
            'active': selectedSkillSet.toLowerCase().includes(skill.skillName)   
         }"
        class="nav-link">
            {{skill.skillName}}
        </a>
    </li>
</ul>

<div class="tabs-body" 
[ngSwitch]="selectedSkillSet.toLowerCase().trim()">
<ng-container *ngFor="let skill of skillsArr">

    <div class="card"
    *ngIf="selectedSkillSet.toLowerCase().includes(skill.skillName)">
    
        <div class="card-body" [innerHTML]="skill.content">
    
            
        </div>
    </div>
</ng-container>
</div>