<!-- {{studentsData | json}} -->

<div class="row">
    <div class="col-md-8 offset-md-3">
   
        <div class="table-responsive">
            <div class="table table-bordered">
                <table>
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let std of studentsData; index as i">
                            <td>{{i + 1}}</td>
                            <td>{{std.fname}}</td>
                            <td>{{std.lname}}</td>
                            <td>{{std.email}}</td>
                            <td>{{std.contact}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
