<div class="row">
    <div class="col-md-4 mb-4"
    *ngFor="let post of postArr">
        <div class="card">
            <div class="card-header">
                <h2 class="m-0">
                    {{post.title}}
                </h2>
            </div>
            <div class="card-body">
                <p class="m-0">
                    {{post.body}}
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Detele</button>

            </div>
        </div>
    </div>
</div>